<%= image_tag "logo3.png", :width => "204", :height => "106", class: "mommylogo" %>

  <div class="container">

      <div class="field animated slideInDown">
        <div class="field-input">

          <% if flash[:alert] %>
          <p id ="notice"><%= flash[:alert] %> </p>
          <% end %>

          <%= form_tag sessions_path do %>

          <h3 class="login-title">login</h3>
          <h4><%= label_tag :email, 'email' %></h4>
          <p><%= text_field_tag :email %></p>

          <h4><%= label_tag :password, 'password' %></h4>
          <p><%= password_field_tag :password %></p>

          <%= submit_tag "login", class: "login-btn" %>

        <% end %>
      </div>
    </div>
</div>
