<div class="container">
  <% if flash[:alert] %>
  <p id ="notice"><%= flash[:alert] %> </p>
  <% end %>

  <%= form_tag '/sessions' do %>
  <fieldset>
    <legend><h2>Please Log In</h2></legend>
      <div>
      <strong><%= label_tag :email, 'Email' %></strong>
        <%= text_field_tag :email%>
      </div>

      <div>
      <strong><%= label_tag :password, 'Password' %></strong>
        <%= password_field_tag :password %>
      </div>

      <div>
        <%= submit_tag "Login", class: 'submit_button' %>
      </div>

  </fieldset>

  <% end %>
</div>
