<div>
  <% if flash[:alert] %>
  <p id ="notice"><%= flash[:alert] %> </p>
  <% end %>

  <%= form_tag '/sessions' do %>
  <fieldset>
    <legend>Please Log In </legend>
      <div>
        <%= label_tag :email, 'Email' %>
        <%= text_field_tag :email%>
      </div>

      <div>
        <%= label_tag :password, 'Password' %>
        <%= text_field_tag :password %>
      </div>

      <div>
        <%= submit_tag "Login" %>
      </div>

  </fieldset>

  <% end %>

</div>
