<h1>Comments#index</h1>

<%= form_for :response do |f| %>


<div class="field">

  <p>
     <%= f.label :comment %>
  </p>

  <p>
      <%= f.text_area :response, size: "50x10", placeholder: 'Please start writting in this box!' %>
      <spellcheck="true">
  </p>

</div>

<%= f.hidden_field :mother_id, :value => @mother_id %>


<p>
  <%= f.submit %>
</p>

<% end %>
