<div class="field">
  <p>
   <!-- <strong><%= f.label :qualifications %></strong> -->
   <%= f.text_field :doc_qual, placeholder: "Qualifications" %>
    <%= f.text_field :regis_number, placeholder: "Registration Number"%>
  </p>
</div>


<!-- <div class="field">
<p>
 <strong><%= f.label :registration_number %></strong>
 <%= f.text_field :regis_number, placeholder: "Registration Number"%>
</p>
</div> -->
