
  <div class="toplogoprofile">
    <%= image_tag "logo3.png", :width => "204", :height => "106"%>
      <h3>MOMMY'S PROFILE</h3>

      <p><h1><%= "Hello Mommy #{@user.first_name.titleize}!"%></h1></p>
  </div>

  <div class="profile-wrapper">
    <div class="profile">
      <h3>Your Info</h3>
        <p><%= "Name: #{@user.first_name.titleize} #{@user.last_name.titleize}" %></p>
        <p><%= "Phone Number: #{@user.phone}" %></p>
        <p><%= "Address: #{@user.address}" %></p>
        <p><%= "Email: #{@user.email}" %></p>
        <p><%= "Date of Birth: #{@user.dob}" %></p>
        <p><%= "Number of Children: #{@user.children}" %></p>

        <p><strong>__________</strong></p>

        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>

        <p><strong>Edit your stage of pregnancy below for your specific set of questions:</strong></p>
        <%= form_for @user do |f| %>

         <p><%= label_tag :stage_of_pregnancy %>:
           <%=
             f.select(:trimester,
             options_for_select(
             [['First Trimester', 1],
              ['Second Trimester', 2],
              ['Third Trimester', 3]],
              selected: current_user.trimester))
           %>
           <%= f.submit 'Update' %>
         </p>
        <% end %>

      <% if notice != nil %>
        <p style="color: blue; font-weight: bold;"><%= notice %></p>
      <% end %>
    </div>


<div class="profile">
  <% if current_user.trimester == 1 %>
    <%=  render 'tri_1_QA'%>
    <% elsif current_user.trimester == 2 %>
    <%=  render 'tri_2_QA'%>
    <% else %>
    <%=  render 'tri_3_QA'%>
  <% end %>
</div>

      <div class="comment-form">
        <%= render 'comments/comment_form'%>
      </div>

    </div>

</div>
