<div class="mommylogo">
  <%= image_tag "logo3.png", :width => "204", :height => "106" %>
</div>

  <div class="profile-wrapper">
    <div class="profile">

      <div class="notice">
        <% if notice != nil %>
          <p style="color: red; font-weight: bold;"><%= notice %></p>
        <% end %>
      </div>

        <h3 class="page-title"><%= "Mommy #{@user.first_name}" %> Profile</h3>

        <%= link_to "My History", user_mom_history_path, class: "mom-btn" %>

          <p>
            <div class="prof1">
              <p>name: </p>
              <p>address: </p>
              <p>phone number: </p>
              <p>email: </p>
              <p>date of birth: </p>
              <p>number of children: </p>
            </div>

            <div class="prof2">
              <p><%= " #{@user.first_name.titleize} #{@user.last_name.titleize}" %></p>
              <p><%= " #{@user.address}" %></p>
              <p><%= " #{@user.phone}" %></p>
              <p><%= " #{@user.email}" %></p>
              <p><%= " #{@user.dob}" %></p>
              <p><%= " #{@user.children}" %></p>
            </div>

      <div class="mom-stage">
        <%= image_tag "pregnancy-stg.png", :width => "204", :height => "106" %>

          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>

            <%= form_for @user do |f| %>
              <% if current_user.mother == true %>

                  <p class="page-title"><strong>Current Stage of Pregnancy:</strong></p>
                  <p>
                   <%=
                     f.select(:trimester,
                     options_for_select(
                     trimesters_for_select,
                      selected: current_user.trimester))
                   %>
                  <%= f.submit 'Update' %>
                 </p>
              <% end %>
            <% end %>
      </div>

        <div class="tri-question">
          <% if @user.trimester == 1 %>
            <%=  render 'tri_1_QA'%>
            <% elsif @user.trimester == 2 %>
            <%=  render 'tri_2_QA'%>
            <% else %>
            <%=  render 'tri_3_QA'%>
          <% end %>
        </div>

      <div class="tri-question">
          <% @my_comments.each do |comment| %>
            <% if comment.doctor_id == nil %>
            <div class="mom-cmnt">
              <ul>
                <p class="mom"><%= "#{@user.first_name}:" %></p>
                <p class="comnt"><%= comment.comment %></p>
                <p class="time"><%= comment.created_at.in_time_zone('Eastern Time (US & Canada)').to_formatted_s(:long_ordinal) %></p>
              </ul>
            </div>
            <%else%>
            <div class="doc-cmnt">
              <ul>
                <p class="doc"><%= "#{@doctor.first_name}:" %></p>
                <p class="comnt"><%= comment.comment %></p>
                <p class="time"><%= comment.created_at.in_time_zone('Eastern Time (US & Canada)').to_formatted_s(:long_ordinal) %></p>
              </ul>
            </div>
            <% end %>
          <% end %>
      </div>

    </div>
</div>
