<div class="field">
    <p>
      <strong><%= label_tag :stage_of_pregnancy %>:</strong>
    <%=
      f.select(:trimester,
      options_for_select(
      [['Please select one', ''],
       ['First Trimester', 1],
       ['Second Trimester', 2],
       ['Third Trimester', 3]]))
    %>
  </p>
</div>

  <div class="field">
    <p>
      <strong><%= f.label :date_of_birth %>:</strong>
      <%= f.date_field :dob, :prompt => "Placeholder", placeholder: "Date of Birth" %>
    </p>
    <p>
      <strong><%= f.label :number_of_children %>:</strong>
      <%= f.number_field :children, placeholder: "Number of Children" %>
    </p>
  </div>
