<div class="mommylogo">
  <%= image_tag "logo3.png", :width => "204", :height => "106" %>
</div>

  <div class="profile-wrapper">
    <div class="profile">
        <h3><%= 'MOMMY' " #{@user.first_name.upcase}"%>'S PROFILE</h3>
          <% if notice != nil %>
            <p style="color: red; font-weight: bold;"><%= notice %></p>
          <% end %>
          <p>
            <div class="prof1">
              <p>name: </p>
              <p>address: </p>
              <p>phone number: </p>
              <p>email: </p>
              <p>date of birth: </p>
              <p>number of children: </p>
            </div>

            <div class="prof2">
              <p><%= " #{@user.first_name.titleize} #{@user.last_name.titleize}" %></p>
              <p><%= " #{@user.address}" %></p>
              <p><%= " #{@user.phone}" %></p>
              <p><%= " #{@user.email}" %></p>
              <p><%= " #{@user.dob}" %></p>
              <p><%= " #{@user.children}" %></p>
            </div>

      <div class="mom-stage">
        <%= image_tag "pregnancy-stg.png", :width => "204", :height => "106" %>

          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>

            <%= form_for @user do |f| %>
              <% if current_user.mother == true %>
              <p><strong>Current Stage of Pregnancy:</strong></p>
              <p>
               <%=
                 f.select(:trimester,
                 options_for_select(
                 [['First Trimester', 1],
                  ['Second Trimester', 2],
                  ['Third Trimester', 3]],
                  selected: current_user.trimester))
               %>
              <%= f.submit 'Update' %>
              <% else %>
                <%= puts 'You cannot change the stage of trimester.' %>
             </p>
              <% end %>
            <% end %>
      </div>

        <div class="tri-question">
          <% if @user.trimester == 1 %>
            <%=  render 'tri_1_QA'%>
            <% elsif @user.trimester == 2 %>
            <%=  render 'tri_2_QA'%>
            <% else %>
            <%=  render 'tri_3_QA'%>
          <% end %>
        </div>


      <ul>
        <% @my_comments.each do |comment| %>
          <% if comment.doctor_id == nil %>
            <li> <%= "#{@user.first_name} " + comment.comment %></li>
            <% else %>
            <li> <%= "#{@doctor.first_name} " + comment.comment %></li>
          <% end %>
        <% end %>
      </ul>

      <%= link_to "My History", user_mom_history_path  %>

    </div>
</div>
