<h1>Third Trimester Question</h1>

<%= form_for @user do |f|%>

<p>1.Are you having headaches that are not relieved with over-the-counter
  medications or have visual changes associated with them, persistent vomiting,
  and upper abdominal pain?</p>

<ul>
  <name="trimester1"/>
    <%= f.label :tri_1, "Yes", :value => "true" %>
    <%= f.radio_button :tri_1, true %>
    <%= f.label :tri_1, "No", :value => "false" %>
    <%= f.radio_button :tri_1, false, :checked => true %>
</ul>

<p>2. Is there decreased movement from your baby?</p>

<ul>
    <name="trimester1" />
    <%= f.label :tri_2, "Yes", :value => "true" %>
    <%= f.radio_button :tri_2, true %>
    <%= f.label :tri_2, "No", :value => "false" %>
    <%= f.radio_button :tri_2, false, :checked => true %>
</ul>

<p>3. do any of these changes apply to you?  Vaginal discharge to a pink or
  reddish color, menstrual-like cramps, pressure in your pelvis or lower abdomen,
  and contractions that last for at least an hour that aren’t Braxton Hicks contractions.</p>

<ul>
  <name="trimester1" />
   <%= f.label :tri_3, "Yes", :value => "true" %>
   <%= f.radio_button :tri_3, true %>
   <%= f.label :tri_3, "No", :value => "false" %>
   <%= f.radio_button :tri_3, false, :checked => true %>
 </ul>

<p><%= f.submit 'Update' %></p>

<% end %>
