
  <% if @user.errors.any? %>
    <h2>Invalid form. Please try again.</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "first name" %>
    </p>

    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "last name" %>
    </p>

    <p>
      <p><%= f.label :email %></p>
      <%= f.text_field :email, placeholder: "you@email.com" %>
    </p>

    <p>
      <%= f.label :phone_number %>
      <%= f.text_field :phone, placeholder: "123-456-7890" %>
    </p>

    <p>
      <%= f.label :address %>
      <%= f.text_field :address, placeholder: "eg. 123 Some Street" %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "password" %>
    </p>

    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
    </p>
