  <% if @user.errors.any? %>
  <div class="error message">
    <h2>Invalid form. Please try again.</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <p>
    <%= f.text_field :first_name, placeholder: "First Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    </p>
  </div>

</br>

  <div class="field">
    <p>
    <%= f.text_field :email, placeholder: "Email" %>
    <%= f.text_field :phone, placeholder: "Phone Number" %>
    </p>
  </div>

</br>

  <div class="field">
    <p>
    <%= f.text_field :address, placeholder: "Address", :maxlength => 43.99%>
    </p>
  </div>

</br>

  <div class="field">
    <p>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
    </p>
  </div>
