<div class="container">

    <h2>Sign Up Now</h2>

      <%= form_for @user do |f| %>

      <div class="field">
        <%= render 'user_form', f: f %>

      </div>

      <div class="role">
        <h4>Click here if you're a Mommy!</h4>
        <div class="mom"><%= render 'mommy_form', f: f %></div>
      </div>


      <div class="role">
        <h4>Click here if you're a Doctor!</h4>
        <div class="doc"><%= render 'doc_form', f: f %></div>
      </div>

      <div>
        <%= f.submit 'Submit' %>
      </div>

      <% end %>

</div>
