<%= link_to "Home", root_path %>

<h1>New User</h1>

<%= form_for @user do |f| %>

<div class="role">
 <%= render 'user_form' %>
</div>

<div class="role">
 <h3>Mommy Form</h3>
 <%= render 'mommy_form' %>
</div>

<div class="role">
 <h3>Doctor Form</h3>
 <%= render 'doc_form' %>
</div>

<div>
 <p><%= f.submit "Sign Up" %></p>
</div>

<% end %>
