<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Mommy Monitor</a>
    </div>
    <ul class="nav navbar-nav">
      <% current_user %>
      <% if current_user %>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path, :class => "glyphicon glyphicon-home" %></li>
        <li><%= link_to "LogOut", session_path("current"), :method => :delete, :class => "glyphicon glyphicon-log-out" %></li>
      </ul>

      <% else %>

      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path, :class => "glyphicon glyphicon-home" %></li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "SignUp", new_user_path, :class => "glyphicon glyphicon-user" %></li>
        <li><%= link_to "LogIn", new_session_path, :class => "glyphicon glyphicon-log-in" %></li>
      </ul>

      <% end %>

    </ul>


  </div>
</nav>
