<!DOCTYPE html>
<html>
  <head>

    <title>MommyMonitor</title>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Alegreya+Sans+SC' %> 
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type='text/javascript' src='/assets/user_signup.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

  </head>


  <body>
    <div class="super-wrap">

      <%= render 'shared/navbar' %>

      <%= yield %>

    </div>

  </body>

</html>
